
.icon-home:before { content: '\e800'; } /* '' */
.icon-adult:before { content: '\e801'; } /* '' */
.icon-newspaper:before { content: '\e802'; } /* '' */
.icon-attach:before { content: '\e803'; } /* '' */
.icon-calendar:before { content: '\e804'; } /* '' */
.icon-pin:before { content: '\e805'; } /* '' */
.icon-down-open:before { content: '\e806'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-newspaper-1:before { content: '\f1ea'; } /* '' */
.icon-handshake-o:before { content: '\f2b5'; } /* '' */
.icon-newspaper-2:before { content: '\f4f0'; } /* '' */